# Configuración de Red local o Producción
# Cambia 192.168.1.X por la IPv4 de tu computadora donde corre el backend
EXPO_PUBLIC_API_URL=http://192.168.1.X:3000/api
EXPO_PUBLIC_SOCKET_URL=http://192.168.1.X:3000

# Google Auth
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID="tu_google_web_client_id.apps.googleusercontent.com"
